.img{
    display: block;

    width: 600px;
    height: 500px;
    object-fit: cover;
    object-position: left;




    transition: clip-path .5s;


    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);

}

.img-container:hover > .img{
    clip-path: polygon(0% 0%, 0% 100%, 15% 100%, 14% 10%, 85% 10%, 85% 90%, 13% 90%, 12% 100%, 100% 100%, 100% 0%);
}
.img{
    display: block;

    width: 600px;
    height: 500px;
    object-fit: cover;
    object-position: left;




    transition: clip-path .5s;


    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);

}

.img-container:hover > .img{
    clip-path: polygon(0% 0%, 0% 100%, 15% 100%, 14% 10%, 85% 10%, 85% 90%, 13% 90%, 12% 100%, 100% 100%, 100% 0%);
}


.img{
    display: block;

    width: 600px;
    height: 500px;
    object-fit: cover;
    object-position: left;




    transition: clip-path .5s;


    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);

}

.img-container:hover > .img{
    clip-path: polygon(0% 0%, 0% 100%, 15% 100%, 14% 10%, 85% 10%, 85% 90%, 13% 90%, 12% 100%, 100% 100%, 100% 0%);
}


.img{
    display: block;

    width: 600px;
    height: 500px;
    object-fit: cover;
    object-position: left;




    transition: clip-path .5s;


    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);

}

.img-container:hover > .img{
    clip-path: polygon(0% 0%, 0% 100%, 15% 100%, 14% 10%, 85% 10%, 85% 90%, 13% 90%, 12% 100%, 100% 100%, 100% 0%);
}


.img{
    display: block;

    width: 600px;
    height: 500px;
    object-fit: cover;
    object-position: left;




    transition: clip-path .5s;


    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);

}

.img-container:hover > .img{
    clip-path: polygon(0% 0%, 0% 100%, 15% 100%, 14% 10%, 85% 10%, 85% 90%, 13% 90%, 12% 100%, 100% 100%, 100% 0%);
}


.img{
    display: block;

    width: 600px;
    height: 500px;
    object-fit: cover;
    object-position: left;




    transition: clip-path .5s;


    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);

}

.img-container:hover > .img{
    clip-path: polygon(0% 0%, 0% 100%, 15% 100%, 14% 10%, 85% 10%, 85% 90%, 13% 90%, 12% 100%, 100% 100%, 100% 0%);
}


.img{
    display: block;

    width: 600px;
    height: 500px;
    object-fit: cover;
    object-position: left;




    transition: clip-path .5s;


    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);

}

.img-container:hover > .img{
    clip-path: polygon(0% 0%, 0% 100%, 15% 100%, 14% 10%, 85% 10%, 85% 90%, 13% 90%, 12% 100%, 100% 100%, 100% 0%);
}


.img{
    display: block;

    width: 600px;
    height: 500px;
    object-fit: cover;
    object-position: left;




    transition: clip-path .5s;


    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);

}

.img-container:hover > .img{
    clip-path: polygon(0% 0%, 0% 100%, 15% 100%, 14% 10%, 85% 10%, 85% 90%, 13% 90%, 12% 100%, 100% 100%, 100% 0%);
}


.img{
    display: block;

    width: 600px;
    height: 500px;
    object-fit: cover;
    object-position: left;




    transition: clip-path .5s;


    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);

}

.img-container:hover > .img{
    clip-path: polygon(0% 0%, 0% 100%, 15% 100%, 14% 10%, 85% 10%, 85% 90%, 13% 90%, 12% 100%, 100% 100%, 100% 0%);
}


.img{
    display: block;

    width: 600px;
    height: 500px;
    object-fit: cover;
    object-position: left;




    transition: clip-path .5s;


    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);

}

.img-container:hover > .img{
    clip-path: polygon(0% 0%, 0% 100%, 15% 100%, 14% 10%, 85% 10%, 85% 90%, 13% 90%, 12% 100%, 100% 100%, 100% 0%);
}


.img{
    display: block;

    width: 600px;
    height: 500px;
    object-fit: cover;
    object-position: left;




    transition: clip-path .5s;


    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);

}

.img-container:hover > .img{
    clip-path: polygon(0% 0%, 0% 100%, 15% 100%, 14% 10%, 85% 10%, 85% 90%, 13% 90%, 12% 100%, 100% 100%, 100% 0%);
}


.img{
    display: block;

    width: 600px;
    height: 500px;
    object-fit: cover;
    object-position: left;




    transition: clip-path .5s;


    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);

}

.img-container:hover > .img{
    clip-path: polygon(0% 0%, 0% 100%, 15% 100%, 14% 10%, 85% 10%, 85% 90%, 13% 90%, 12% 100%, 100% 100%, 100% 0%);
}


.img{
    display: block;

    width: 600px;
    height: 500px;
    object-fit: cover;
    object-position: left;




    transition: clip-path .5s;


    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);

}

.img-container:hover > .img{
    clip-path: polygon(0% 0%, 0% 100%, 15% 100%, 14% 10%, 85% 10%, 85% 90%, 13% 90%, 12% 100%, 100% 100%, 100% 0%);
}




