

.title{

    font-family: 'Roboto', sans-serif;

    font-size: 10vmin;

    text-transform: capitalize;


}

.paragraph{
/* 
    text-align: center; */
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
 text-indent: 3vmin;   
    
}
.link{
    text-decoration: none;
}

