.inline{
    background: greenyellow;
}


.block{
    background: indianred ;
}
.inline{
    background: greenyellow;
}


.block{
    background: indianred ;
}
.inline{
    background: greenyellow;
}


.block{
    background: indianred ;
}
.inline{
    background: greenyellow;
}


.block{
    background: indianred ;
}
.inline{
    background: greenyellow;
}


.block{
    background: indianred ;
}