

.link:link{
    color: red;
}

.link:visited{
    color: violet;
}

.link.active{
    color: cyan;
    background-color: tomato;

}

.link.active{
    color: cyan;
    background-color: tomato;

}


.link.active{
    color: cyan;
    background-color: tomato;

}



.link:hover{
    color: cyan;
    background-color: tomato;

}